<!doctype html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
        <title>Blogz</title>
    </head>
<body>

    <ul>
        <li><a href='/'><strong>Home</strong></a></li>
        <li><a href='/blog'><strong>All Posts</strong></a></li>
        <li><a href='/newpost'><strong>New Post</strong></a></li>
        <li style="float: right;"><a href='/logout'><strong>Log Out</strong></a></li>
        <li style="float: right;"><a href='/login'><strong>Log In</strong></a></li>
    </ul>

    {% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
    {% for category,message in messages %}
        <li class="{{category}}">{{message}}</li>
    {% endfor %}
    </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>