{% extends "base.html" %}

{% block content %}

    <h1>Add a Blog Post</h1>
    
    <form action="/newpost" method="POST">
        <p>Enter your blog's title.</p>
        <input name='title' type="text" value="{{blog_title}}">
        <p class="error">{{ title_error }}</p>
        
        <br />
        <br />
        
        <p>Type your blog here.</p>
        <textarea id="body" name="body" rows="10" cols="70">{{blog_body}}</textarea>
        <p class="error">{{ body_error }}</p>
        <input type="submit" value="Submit">
    </form>

{% endblock %}