{% extends "base.html" %}

{% block content %}
    
    <h1>Build a Blog</h1>

    <!-- If block checks to see if there are blog posts to display. -->
    {% if blog_posts|length == 0 %}
    <p>No blog posts yet</p>
    {% else %}
        {% for post in blog_posts %}
        <h2>{{post.title}}</h2> <!-- Make each title an <a> with the post.title as the 
            displayed value with the same link location (blog.html) -->

        <p>{{post.body}}</p>
        <hr />
    {% endfor %}
    {% endif %}

{% endblock %}