@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.error{
    color: red;
    font-style: italic;
    margin: 0;
}

.blog_title {
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    font-size: 22px;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

textarea {
    margin: 10px 0;
    width: 540px;
    height: 120px;
}

p {
    margin: 0;
}

input {
    margin: 10px 0;
}

* {
    font-family: 'Open Sans', sans-serif;
}