@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.error {
    color: red;
    font-style: italic;
    text-align: center;
    margin: 10px 0px;
}

.login {
    color: lightgreen;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}

.signup {
    color: lightgreen;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}

.logout {
    color: lightgreen;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}

.blog_title {
    padding-bottom: 20px;
}

table {
    margin-right: auto;
    margin-left: auto;
}

td {
    text-align: left;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    text-align: center;
    float: left;
    font-size: 22px;
    padding-right: 20px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

textarea {
    margin: 10px 0;
    width: 540px;
    height: 120px;
}

p {
    margin: 0;
    text-align: center;
}

input {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

* {
    font-family: 'Open Sans', sans-serif;
}